@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');

/* Reset styles */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General styling */

:root {
    --primary-gradient-bg: linear-gradient(90deg, rgb(58, 48, 100), rgb(39, 85, 123));
}

body {
    font-family: Ubuntu;
    background-image: url(/assets/shared/cupdattune-mobile-bg-light.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.menu-button {
    background-color: transparent;
    border: none;
}

img {
    max-width: 100%;
}

button {
    font-family: inherit;
}


/* the style for the bottom border attached to the header */


/* header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-image: var(--primary-gradient-bg);
    bottom: 0;
} */

header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 6px 6px rgb(0, 0, 0, 0.3);
}

.menu {
    padding: 16px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 48px 0.7fr 48px;
    gap: 16px;
}

.quicklinks {
    padding: 8px 32px;
    display: flex;
    gap: 5px;
    list-style: none;
}

.quicklink {
    display: inline-block;
    flex: 1;
}

.link {
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--primary-gradient-bg);
    text-decoration: none;
    font-family: 1.1em;
    color: white;
    text-transform: uppercase;
    border-radius: 12px 7px;
}

.link:active {
    transform: scale(0.95);
}

.nav-toggle,
.search-display {
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-nav {
    position: absolute;
    top: 0;
    transform: translateX(-1000px);
    height: 100vh;
    width: 70%;
    z-index: 1000;
    background-image: var(--primary-gradient-bg);
    transition: transform .3s linear;
}

.mobile-nav.show-mobile-nav {
    transform: translateX(0px);
}

.close-button {
    padding: 30px;
    cursor: pointer;
}

.search {
    padding: 2em 0;
    border-bottom: 3px solid white;
}

.search-form {
    width: 100%;
    padding: 0 16px;
    display: block;
}

.mobile-nav .search-field {
    background-color: white;
    width: 100%;
    border-radius: 12px 7px;
    display: flex;
    padding: .3em;
}

.form-input {
    flex: 1;
    font-size: 1.1em;
    letter-spacing: .05em;
    padding: .3em .1em .3em .1em;
    outline: none;
    border: none;
    position: relative;
}

[aria-empty=not-empty]::after {
    content: '/20001';
    padding-right: 30px;
    position: absolute;
}

.mobile-nav .form-input::placeholder {
    color: #ccc;
}

.form-submit {
    padding: .3em .5em;
    background-color: transparent;
    background-image: var(--primary-gradient-bg);
    font-size: 1.1em;
    color: white;
    border: none;
    border-radius: 12px 7px;
}

.nav-item.active {
    background-color: rgb(255, 255, 255, .5);
    border-left: 5px solid white;
}

.nav-item a {
    display: inline-block;
    padding: 0 16px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.mobile-nav .nav-item .icon {
    font-size: 50px !important;
    display: inline-block;
    margin-right: 16px;
}

main section {
    padding: 50px 8px;
    box-shadow: 3px 3px 20px rgb(39, 85, 123, .5);
    margin: 25px 0;
    border-radius: 7px;
    background-color: white;
    position: relative;
}

main section::before {
    content: "Trending";
    color: white;
    border-radius: 7px;
    width: auto;
    height: auto;
    padding: .5em .8em;
    background-image: var(--primary-gradient-bg);
    position: absolute;
    top: -10px;
    left: 10px;
    box-shadow: 3px 3px 2px rgb(39, 85, 123, .5);
}

footer {
    padding: 30px 0;
    background-color: #333;
    margin-top: auto;
}